<!DOCTYPE html>
<html lang="en">
    <head>
        <% include templates/header.ejs %>
    </head>
    <body class="index">
        <% include templates/navbar.ejs %>
        <h1 class="header">MY BLOG</h1>
        <div class="panel">
            <section class="panel__left">
                <% for(var i=0; i<blogPosts.length; i++) {%>
                <div class="card">
                    <div class="card__left">
                        <a href="/post/<%= blogPosts[i]._id  %>">
                            <h4 class="card__title"><%= blogPosts[i].title %></h4>
                            <p class="card__body"><%= blogPosts[i].post %></p>
                        </a>
                        <div class="card__author">Martin Brown &middot; <%= moment(blogPosts[i].date).format('MMM DD YYYY'); %>
                        </div>
                        <div class="card__date"></div>
                    </div>

                    <div class="card__right">
                        <div class="card__container">                        
                            <img class="card__image" src="<%= blogPosts[i].image %>" class="card__container__image" alt="">
                            <div class="card__container__category">Ui/Ux</div>
                        </div>
                    </div>
                </div>
                <% } %>
            </section>

            <section class="panel__right">
                <section class="side__left">
                    <div class="email">
                        <div class="front">
                            <h3 id="email__title">Follow By Email</h3>
                            <p id="email__body" >Get all the latest post delivered straight to your inbox</p>
                            <form action="/submit-email/" method="POST" id="submit-email-form" onsubmit="return validateForm()">
                                <input id="email-input" class="email__input" type="email" placeholder="Email Address" name="email">
                                <input id="email__submit" class="email__submit" type="submit" value="SUBSCRIBE">
                            </form>
                        </div>
                        <div class="front back">An Email confirmation has been sent</div>
                    </div>
                </section>

                <section class="side__right">
                    <div class="side-header">
                        <h6>SOCIAL LINKS</h6>
                    </div>
                    <div class="social">
                        <div id="instagram-label" onclick="document.location='<%= socialPlatforms[0].instagram %>'" class="social__link"><img class="social__link__image" src="images/instagram.svg" alt="fa"></div>

                        <div id="facebook-label" onclick="document.location='<%= socialPlatforms[0].facebook %>'" class="social__link"><img class="social__link__image" src="images/facebook.svg" alt="fa"></div>

                        <div id="twitter-label" onclick="document.location='<%= socialPlatforms[0].twitter %>'" class="social__link"><img class="social__link__image" src="images/twitter.svg" alt="fa"></div>
                    </div>
                </section>
            </section>
        </div>

        <script>
            function validateForm() {
                let email = document.forms["submit-email-form"]["email"].value; 

                var error = false;

                if (!email.replace(/\s/g, '').length) {
                    //$('.email-error').css("display", "inline-block");                    
                    error = true;
                }          

                if(error === true) {
                    return false;
                } else {
                    $( ".email" ).addClass( "flip" );
                }

                // ONLY ALLOW ONE SUBMISSION PER PAGE LOAD
                $(function(){				
                    $('#email__submit').click(function(e){
                        e.preventDefault();
                    })
                })
            }
        </script>

    </body>
</html>